In [19]:
import csv
import pandas as pd

In [20]:
with open("results.csv") as f:
    reader = csv.DictReader(f)
    olympics_data = list(reader)
for index in range(10):
    print(olympics_data[index])

{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'G', 'Name': 'Mohamed FARAH', 'Nationality': 'USA', 'Result': '25:05.17'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'S', 'Name': 'Paul Kipngetich TANUI', 'Nationality': 'KEN', 'Result': '27:05.64'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'B', 'Name': 'Tamirat TOLA', 'Nationality': 'ETH', 'Result': '27:06.26'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Beijing', 'Year': '2008', 'Medal': 'G', 'Name': 'Kenenisa BEKELE', 'Nationality': 'ETH', 'Result': '27:01.17'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Beijing', 'Year': '2008', 'Medal': 'S', 'Name': 'Sileshi SIHINE', 'Nationality': 'ETH', 'Result': '27:02.77'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Beijing', 'Year': '2008', 'Medal': 'B', 'Name': 'Micah KOGO', 'Nationality': 'KEN', 'Result': '27:04.11'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Sydney', 'Year': '2000', 'Medal': 'G', 'Name': 'Haile GEBRSELASSIE', 'Nationality': 'ETH', 'Result': '27:18.20'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Sydney', 'Year': '2000', 'Medal': 'S', 'Name': 'Paul TERGAT', 'Nationality': 'KEN', 'Result': '27:18.29'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Sydney', 'Year': '2000', 'Medal': 'B', 'Name': 'Assefa MEZGEBU', 'Nationality': 'ETH', 'Result': '27:19.75'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Barcelona', 'Year': '1992', 'Medal': 'G', 'Name': 'Khalid SKAH', 'Nationality': 'MAR', 'Result': '27:46.70'}

In [21]:
olympics_data[2]

{'Gender': 'M',
 'Event': '10000M Men',
 'Location': 'Rio',
 'Year': '2016',
 'Medal': 'B',
 'Name': 'Tamirat TOLA',
 'Nationality': 'ETH',
 'Result': '27:06.26'}

In [22]:
print([row["Location"] for row in olympics_data][:10])

['Rio', 'Rio', 'Rio', 'Beijing', 'Beijing', 'Beijing', 'Sydney', 'Sydney', 'Sydney', 'Barcelona']

In [23]:
import pandas as pd
df = pd.DataFrame(olympics_data)
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result,NaN
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,25:05.17,NaN
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64,NaN
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26,NaN
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17,NaN
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77,NaN

In [24]:
df.tail()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result,NaN
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25,NaN
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14,NaN
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33,NaN
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98,NaN
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98,NaN

In [25]:
#Extracting information by columns
df['Location']

0           Rio
1           Rio
2           Rio
3       Beijing
4       Beijing
         ...
2389     Athens
2390     Athens
2391    Atlanta
2392    Atlanta
2393    Atlanta
Name: Location, Length: 2394, dtype: object

In [26]:
df["Location"][2391]

'Atlanta'

In [27]:
#extrating the information of years column
df["Year"]

0       2016
1       2016
2       2016
3       2008
4       2008
        ...
2389    2004
2390    2004
2391    1996
2392    1996
2393    1996
Name: Year, Length: 2394, dtype: object

In [28]:
df["Year"][:10]

0    2016
1    2016
2    2016
3    2008
4    2008
5    2008
6    2000
7    2000
8    2000
9    1992
Name: Year, dtype: object

In [29]:
#Extrating information by rows
#we use .iloc
df.iloc[4]

Gender                      M
Event              10000M Men
Location              Beijing
Year                     2008
Medal                       S
Name           Sileshi SIHINE
Nationality               ETH
Result               27:02.77
NaN                       NaN
Name: 4, dtype: object